{% render 'leadcod_form_head' %}
{% render 'leadcod_config' %}
{% render 'leadcod_facebook_pixel' %}

<div id="leadcod-form-{{ block.id }}" class="leadcod-form-container">
  <div class="leadcod-form-loading">جاري تحميل النموذج...</div>
</div>

{% render 'leadcod_form_utils' %}

{% render 'leadcod_form_fields' %}

{% render 'leadcod_form_init' %}

{% render 'leadcod_form_styles' %}

{% schema %}
{
  "name": "Leadcod Form",
  "target": "section"
}
{% endschema %}
